<!-- {% extends 'base_bill_template.html' %} -->
<!-- {% block content %} -->
    <center style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <h1>Invoice</h1>
        <p>Patient Name: {{ patient.userd.first_name }} {{ patient.userd.last_name }}</p>
        <p>Patient ID: {{ patient.id }}</p>
        <p>Doctor: {{ doctor.userd.first_name }} {{ doctor.userd.last_name }}</p>
        <p>Doctor fees: ${{ doctor.fees }}</p>
        <p>Additional Costs: ${{ additional_costs }}</p>
        <p>Total Amount: ${{ total_amount }}</p>
    </center>
<!-- {% endblock %} -->
