<!DOCTYPE html>
<html>
    <head>
        <title>Invoice</title>
    </head>

    <body style="margin: 10%;">
        <center style="font-family: monospace;">
        <h1>Invoice</h1>
        <p>Patient Name: {{ patient.user.first_name}} {{patient.user.last_name}}</p>
        <p>Patient ID: {{patient.id}}</p>
        <p>Doctor: {{doctor.user.first_name}} {{doctor.user.last_name}}</p>
        <p>Doctor fees: ${{doctor.fees}}</p>
        <p>Additional Costs: ${{ additional_costs }}</p>
        <p>Total Amount: ${{ total_amount }}</p>
    </body>
</html>